<div id="main" class="board" [style.width]="width - 50 + 'px'" [style.height]="height - 50 + 'px'">
    <div  class="toolbar" id="toolbar">
        <div class="top-score">Length: {{snakeLength}}</div>
        <div class="curr-score">Top Score: {{topScore}}</div>
    </div>
    <div  id="board" class="play-area" [style.width]="maxLeft + 'px'" [style.height]="maxTop + 'px'">
        <app-snake-food [Position]="FoodPosition" ></app-snake-food>
        <app-snake (move)="onMove($event)" #Snake></app-snake>
    </div>
    <div class="footer" [style.top]="maxTop + 40 + 'px'">
        <a href="https://github.com/RajaPols651/Angular-Snake" target="_blank" >Source Code</a>
    </div>
    <app-message (Ok)="onMessageOk($event)" #message></app-message>
</div>
